.calculator-form {
  background-color: #BAD7E9;
  padding: 100px;
  border-radius: 50px;
}

.calculator-form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
